

.page-background {
    background: linear-gradient(67deg, rgba(114, 114, 114, 0.28) 0%, rgba(153, 0, 0, 0.80) 0.01%, rgba(255, 199, 44, 0.80) 77.66%);
    height: 100vh;
    width: 100%;
  }

.logo {
    width: 341px;
    height: 87px;
    flex-shrink: 0;
  color: #F9F7EF;
  font-size: 45px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  word-wrap: break-word;
}

.title {
    width: 1024px;
height: 234px;
flex-shrink: 0;
  color: #F9F7EF;
  font-size: 80px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 4.8px;
  word-wrap: break-word;
}