body {
  font-family: "Montserrat", Arial, sans-serif;
  background: linear-gradient(
    67deg,
    rgba(114, 114, 114, 0.28) 0%,
    rgba(153, 0, 0, 0.8) 0.01%,
    rgba(255, 199, 44, 0.8) 77.66%
  );
}

h1 {
  margin-left: -2%;
}

.navBar {
  display: flex;
  align-items: left;
  color: #f9f7ef;
  font-family: Montserrat;
  font-size: 23px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.navBarLogo {
  margin-right: 0px;
  padding-right: 0px;
  width: 5%;
}

.navBarLogo img {
  margin-top: 5%;
  width: 60%;
  height: 60%;
  object-fit: cover;
}

.landing-body {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-left: 2em;
  padding-top: 4.8em;
}

.left-header {
  flex: 1; /* Takes up 60% of the container width */
  max-width: 65%;
  padding: 0 3em; /* Add padding to the left-header for spacing */
  color: #f9f7ef;
  justify-content: flex-start;
}

@keyframes rotateAnimation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes rotateAnimationCounter {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}

.images {
  position: relative;
  flex: 1;
  max-width: 60%;
  height: 500px;
  justify-content: flex-end;
}

.images #ellipse1 {
  position: absolute;
  display: block;
  top: -30px;
  left: 35%;
  height: 600px;
  width: 43%;
  z-index: 1;
  transform: scale(0.98);
  animation: rotateAnimation 12s linear infinite;
}

.images #ellipse2 {
  position: absolute;
  display: block;
  top: 55px;
  left: 10%;
  height: 450px;
  width: 90%;
  z-index: 1;
  transform: scale(0.85);
  animation: rotateAnimationCounter 12s linear infinite;
}

.images #mac {
  position: absolute;
  display: block;
  max-width: 100%;
  max-height: 100%;
  width: 80%;
  height: 800%;
  object-fit: cover;
  z-index: 2;
  margin-left: 8%;
}

.react-responsive-modal-modal {
  background: none;
  box-shadow: none;
  width: 40%; /* Set the width to 40% of the viewport width */
  max-width: 40em; /* Set a maximum width to ensure it's not too wide */
  height: auto; /* Allow the height to adjust based on content */
  position: fixed;
  top: 20%; /* Center vertically at 30% from the top of the viewport */
  left: 30%; /* Center horizontally at 50% from the left of the viewport */
}

.modal-body {
  border-radius: 30px;
  background: #f9f7ef;
  box-shadow: 0px 4px 10px 5px #361306;
  padding: 2em;
  text-align: center;
}

.modal-display-text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo-container {
  width: 3em;
  height: 3em;
  transform: rotate(15.714deg);
}

.react-responsive-modal-closeButton {
  margin: 1.5em;
}

.modal-body .btn {
  color: #c35f3b;
  text-align: center;
  font-size: 1.5em;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  border-radius: 9px;
  padding: 0.5em 1em;
  margin: 0.5em;

  border: 2px solid #361306;
  background: linear-gradient(180deg, #ffd768 0%, #fb0 100%);
}

input[type="text"],
input[type="password"] {
  box-sizing: border-box; /* Include padding and border within the element's total width */
  width: 100%; /* Set the width to 100% of the parent container */
  padding: 0.5em; /* Add padding around the input field */
  border: 2px solid #ccc; /* Add a border */
  border-radius: 4px; /* Add rounded corners */
  background-color: #f9f9f9; /* Set background color */
  margin-top: 0.5em;
  margin-bottom: 0.3em;
}

.nav.buttons button {
  text-align: center;
  font-size: 1.4em;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 0.05em;
  margin-top: 1em;
  margin-right: 0.5em;

  border-radius: 40px;
  box-shadow: 0px 6px 10px 2px rgba(96, 12, 12, 0.71);
  padding: 0.5em 2.5em;
  cursor: pointer;
  font-weight: bold;
}

.nav.buttons button#signup {
  color: #c35f3b;
  background: #ffc72c;
  transition: transform 0.3s;
}

.nav.buttons button#signup:hover {
  background-color: #e6b422;
  color: #fff;
  transform: translateY(-10px);
}

.nav.buttons button#login:hover {
  background-color: #ddd;
  color: #333;
  transform: translateY(-10px);
}

.nav.buttons button#login {
  color: #f9f7ef;
  border: 2px solid #f9f7ef;
  transition: transform 0.3s;
}

#continue-guest {
  color: lightgray;
  text-decoration: underline;
  padding-top: 0.5em;
}

#continue-guest:hover {
  color: rgb(149, 149, 149);
}
